/* css  - * wildcard selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* copilot */
a {
  text-decoration: none;
  color: inherit;
}

header {
  background-image: url("./images/desktop/image-hero.jpg");
  background-size: cover;
  color: white;
  overflow: hidden;
  padding-bottom: 60px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
}

.links {
  list-style-type: none;
}
.links a {
  padding: 10px;
  font-weight: bold;
}

header h1 {
  font-size: 60px;
  border: 1px solid white;
  padding: 10px;
  margin: 20px 60px;
  width: 50%;
  font-weight: lighter;
}

/* first section */

section.first {
  display: flex;
  gap: 20px;
  padding: 20px 60px;
  align-items: end;
}
section.first .image-div,
section.first .text-div {
  width: calc(50%);
  flex: 1;
}
section.first .image-div img {
  width: 120%;
}

section.first .text-div {
  background-color: white;
  padding: 40px;
}
h2 {
  font-weight: lighter;
  font-size: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.creations {
  padding: 20px 60px;
}
.sect-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta-link {
  border: 1px solid black;
  padding: 6px 16px;
}

.creations-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.creation-item {
  width: calc(25% - 12px); /* 4 items per row */
  position: relative;
}
.creation-item img {
  width: 100%;
}

.creation-item h3 {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: white;
}

footer {
  background-color: black;
  color: white;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
/* mdn web docs --- notes */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/position */

/* responsive - media queris */